.feed
    max-width: 650px
    width: 600px
    margin: 0px auto
    margin-bottom: 3em
    text-align: center
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important

    > div
        &:first-child
            margin-top: 40px
            padding: 30px 40px
            background-color: #fff
            border: 1px solid #e6e6e6
            border-radius: 1px

    h1
        font-weight: 500
        font-size: 3em
        margin-bottom: 40px
    
    label
        color: black !important

    form   
        margin-bottom: 20px
        text-align: left !important

    .nickname
        margin-top: 1em
        text-align: left
        > p 
            color: #000000

    .description
        font-weight: 100 !important
        color: #39393a !important

    .hashtags
        color: #3897f0 !important
        &:hover
            cursor: pointer

    .likes
        margin-top: 18px
        text-align: left
        color: #000000
        font-weight: 400 !important

    .comments
        font-weight: 100 !important
        color: #8e8e8e
        text-align: left

    .image
        overflow: auto
        > img 
            max-width: 520px

    .profile
        text-align: left
        margin-bottom: 12px
        > img 
            width: 60px
            height: 60px
            border-radius: 50%
            margin-right: 12px
        > i 
            float: right
            margin-top: 22px

    .options
        margin-top: 12px
        text-align: left
        > i 
            margin-right: 16px

.alert-content
    max-width: 650px 
    width: 600px 
    margin: 0px auto
    > div 
        margin-top: 2em

.title 
    margin-top: 32px
    > h2 
        text-align: center