.login
    max-width: 450px
    width: 380px
    margin: 0px auto
    text-align: center
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important

    > div
        &:first-child
            margin-top: 100px
            padding: 30px 40px
            background-color: #fff
            border: 1px solid #e6e6e6
            border-radius: 1px

    h3
        font-weight: 500
        font-size: 3em
        margin-bottom: 40px

    .forgot-password
        font-size: 12px
        line-height: 14px
        margin-bottom: 15px
        text-align: center
        color: #003569

    form   
        margin-bottom: 20px

    .download-app
        color: black !important
        margin-top: 20px
        margin-bottom: 20px

        > div
            > a
                margin-right: 8px

        img
            widht: 40px
            height: 40px

    .logo
        widht: 80px
        height: 80px
        margin-bottom: 15px

    .login-error
        color: red
        font-size: 0.85em