.top-navbar
    border-bottom: 1px solid #e7eaec !important

    .logout-button
        cursor: pointer
        font-size: 14px
        padding-right: 1em
        font-weight: 600

        a
            color: #676a6c
            &:hover
                color: #3897f0

        i
            margin-right: 8px