.content
    max-width: 650px
    width: 600px
    margin: 0px auto
    margin-bottom: 3em
    text-align: center
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important

    > div
        &:first-child
            margin-top: 40px
            padding: 30px 40px
            background-color: #fff
            border: 1px solid #e6e6e6
            border-radius: 1px

    h1
        font-weight: 500
        font-size: 3em
        margin-bottom: 40px
    
    label
        color: black !important

    form   
        margin-bottom: 20px
        text-align: left !important

    .ReactTags__selected
        > span 
            border: 1px solid #e5e6e7 !important
            border-radius: 3px !important
            padding: 2px 6px !important
            margin-right: 2px !important
        
            > a 
                padding-left: 6px !important

                &:hover
                    cursor: pointer !important

    .ReactTags__tagInputField
        margin-top: 6px !important
        background-color: rgb(250, 250, 250) !important
        background-image: none !important
        border: 1px solid #e5e6e7 !important
        border-radius: 2px !important
        color: inherit !important
        display: block !important
        padding: 6px 12px !important
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important
        width: 100% !important
        font-size: 14px !important
        font-weight: 400 !important

        &:focus
            border-color: #3897f0 !important
            -webkit-box-shadow: none !important
            box-shadow: 0 0 0 !important
            outline: none !important
            outline-offset: -2px !important

        &:active
            border-color: #3897f0 !important
            -webkit-box-shadow: none !important
            box-shadow: 0 0 0 !important
            outline: none !important
            outline-offset: -2px !important

    .content-preview
        max-width: 200px !important
        max-height: 200px !important

    .nickname
        margin-top: 1em
        text-align: left
        > p 
            color: #000000

    .description
        font-weight: 100 !important
        color: #39393a !important

    .hashtags
        color: #3897f0 !important
        &:hover
            cursor: pointer

    .likes
        margin-top: 18px
        text-align: left
        color: #000000
        font-weight: 400 !important

    .comments
        font-weight: 100 !important
        color: #8e8e8e
        text-align: left

    .image
        overflow: auto
        > img 
            max-width: 520px

    .profile
        text-align: left
        margin-bottom: 12px
        > img 
            width: 60px
            height: 60px
            border-radius: 50%
            margin-right: 12px
        > i 
            float: right
            margin-top: 22px

    .options
        margin-top: 12px
        text-align: left
        > i 
            margin-right: 16px

    .create-content
        margin-top: 12px

.alert-content
    max-width: 650px 
    width: 600px 
    margin: 0px auto
    > div 
        margin-top: 2em

.title 
    margin-top: 28px
    > h2 
        text-align: center