
body
    background-color: #fafafa !important
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    color: #676a6c !important

.btn
    border-radius: 3px !important
    padding: 6px 12px !important
    margin-bottom: 0 !important
    font-size: 14px !important
    font-weight: 400 !important
    line-height: 1.42857143 !important
    text-align: center !important
    white-space: nowrap !important
    vertical-align: middle !important

.btn-primary
    background-color: #3897f0 !important
    border-color: #3897f0 !important
    color: #FFFFFF !important

    &:hover
        background-color: #3897f0 !important
        border-color: #3897f0 !important
        -webkit-box-shadow: none !important
        box-shadow: none !important

    &:active
        background-color: #3897f0 !important
        border-color: #3897f0 !important
        -webkit-box-shadow: none !important
        box-shadow: none !important
    
    &:focus
        background-color: #3897f0 !important
        border-color: #3897f0 !important
        -webkit-box-shadow: none !important
        box-shadow: none !important

.form-control
    background-color: rgb(250, 250, 250) !important
    background-image: none !important
    border: 1px solid #e5e6e7 !important
    border-radius: 2px !important
    color: inherit !important
    display: block !important
    padding: 6px 12px !important
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important
    width: 100% !important
    font-size: 14px !important
    font-weight: 400 !important

    &:focus
        border-color: #3897f0 !important
        -webkit-box-shadow: none !important
        box-shadow: none !important

.full-width
    width: 100% !important